<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Coding Challange</title>
  </head>
  <body>
    <% if( aboutMe.params === 'none'){ %>
      <h3><%= aboutMe.aboutMeInfo.descriptionQuestion %></h3>
      <p><%= aboutMe.aboutMeInfo.descriptionAnswer %></p>
      <br>
      <h3><%= aboutMe.aboutMeInfo.techQuestion %></h3>
      <p><%= aboutMe.aboutMeInfo.techAnswer %></p>
      <br>
      <h3><%= aboutMe.aboutMeInfo.techstackQuestion %></h3>
      <p><%= aboutMe.aboutMeInfo.techstackAnswer %></p>
      <br>
      <h3><%= aboutMe.aboutMeInfo.hobbiesQuestion %></h3>
      <p><%= aboutMe.aboutMeInfo.hobbiesAnswer %></p>
      <% } else if ( aboutMe.params === 'description'){ %>
        <h3><%= aboutMe.aboutMeInfo.descriptionQuestion %></h3>
        <p><%= aboutMe.aboutMeInfo.descriptionAnswer %></p>
      <% } else if ( aboutMe.params === 'tech'){ %>
        <h3><%= aboutMe.aboutMeInfo.techQuestion %></h3>
        <p><%= aboutMe.aboutMeInfo.techAnswer %></p>
      <% } else if ( aboutMe.params === 'techStack'){ %>
        <h3><%= aboutMe.aboutMeInfo.techstackQuestion %></h3>
        <p><%= aboutMe.aboutMeInfo.techstackAnswer %></p>
      <% } else if ( aboutMe.params === 'hobbies'){ %>
        <h3><%= aboutMe.aboutMeInfo.hobbiesQuestion %></h3>
        <p><%= aboutMe.aboutMeInfo.hobbiesAnswer %></p>
      <% } else {  %>
        <h1>NOT FOUND</h1>
    <% } %>
  </body>
</html>
